body {
    margin: 0;
  
      min-height: 100vh;
     
      display: flex;
      flex-direction: column;
  }
    
   

.header{
    
    
    height: 20px;
    padding: 16px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    
    }



    ul{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}
a {
    text-decoration: none;
    flex: 1;
    color: white;
}

h1{
    text-align: center;
}

    

.second-container {
    display: flex;
    padding-left: 180px;
    height: 350px;
    flex-shrink: auto;
    padding-top: 50px;
    gap: 200px;
    
}



.second-container > img{
  
  
  padding-top: 45px;
  height: 180px;
  width: 350px;
  flex: 0;
}

button.continue {
  margin-left: 0;
}




.first-text{
  margin-top: 40px;
  font-size: 48px;
  font-weight: bolder ;
 
}

.header,
.second-container{
background-color: #1F2937;
color: white;
}


.content{
height: 300px;
padding: 50px;



}
.boxes {
  
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 52px;
    
    
  }
  .item{
    
  border-radius: 10px;
  flex: 0; 
  width:200px;
  text-align:center;
  align-content: center;
  }

  .item > img {
    height: 150px;
    width:150px;
    border-radius: 15px;
    border: 4px solid #3882F6;
  }

  

  .third-container{
    
    display: flex;
    flex-direction: column;
    height: 300px;
    min-width: 0px;
    background-color: #E5E7EB;
    padding: 80px;
    padding-left: 500px;
    padding-right: 500px;
    justify-content: center;    
    align-items: center;
    font-size: 22px;
    flex: 0;
    
  }
  .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    min-height: 0;
    
    
  }


    .small{
    font-weight: bold;
    font-size: 25px;
    align-self: flex-end;
    min-height: 0;
   
  }

  .wrap{
    display: flex;  
    width: 700px;
    padding: 85px;
    margin: 100px;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-size: 20px;
    align-self: center;
    
      
 }




 button{
  
  width: 90px;
  padding: 6px 8px;
  align-self: center;
  margin-left: 100px;
  border: 2px solid white;
  color: white; 
  font-weight: bold;
  border-radius: 5px;
  background-color: #3882F6;
 }

.element {
  font-size: 25px;
}

 .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: auto;
 }

 .footer{
  background-color: #1F2937;
  color: white;
 }