body {
    margin: 0;
  
      min-height: 100vh;
     
      display: flex;
      flex-direction: column;
  }
    
   

.header{
    
    
    height: 20px;
    padding: 16px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    
    
    
  
    

}
ul{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}
a {
    text-decoration: none;
    flex: 1;
    color: white;
}

h1{
    text-align: center;
}

    

.second-container {
    display: flex;
    flex-direction: row;
   
    padding-left: 80px;
    height: 350px;
    flex-shrink: auto;
    padding-top: 50px;
    
    
}


.second-container > img{
  
  padding-left: 50px;
  padding-top: 45px;
  height: 180px;
  width: 350px;
 
}




.first-text{
  margin-top: 40px;
  font-size: 48px;
  font-weight: bolder ;
 
}


.header,
.second-container{
background-color: #1F2937;
color: white;
}


.content{
height: 300px;
border: 2px blue solid;


}
.boxes {
  
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 52px;
    
    
  }
  .item{
    
    border-radius: 10px;
   
   width:200px;
   text-align:center;
   align-content: center;
  }

  img {
    height: 150px;
    width:150px;
  }

  
  .third-container{
    
    display: flex;
    height: 100px;
    border: 2px purple solid;
    margin-top: 20px;
    padding: 80px;
    justify-content: center;    
    align-items: center;
    font-size: 22px;

    
  }

    .small{
    align-self:flex-end;
  }

    .fourth-container {
        display: flex;
        border: 2px solid yellow;
        height: 150px;
        justify-content: center;
        align-items: center;
        padding: 75px;
    }
 .wrap{
  
  width: 700px;
 }

 button{
 
  padding: 6px 8px;
  
 }

 .footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: auto;
 }